* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 3rem;
}

.box-container {
  padding-bottom: 2rem;
}

.box {
  width: 15rem;
  height: 15rem;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box-item {
  width: 0.5rem;
  height: 0.5rem;
  background-color: white;
  padding: 1.5rem;
  list-style: none;
  margin: 0.5rem;
}
